<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381565657841-hkoi9tismte9vd3fe10plh1fr1to1e40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381565657841-hkoi9tismte9vd3fe10plh1fr1to1e40</string>
	<key>API_KEY</key>
	<string>AIzaSyDCL_WUepOq2rZdzidohU2-ePLw3NLKv6M</string>
	<key>GCM_SENDER_ID</key>
	<string>381565657841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flavorsexample.stg</string>
	<key>PROJECT_ID</key>
	<string>ecoonedemo-e92b0</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoonedemo-e92b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381565657841:ios:181d52d537ad23d3997f50</string>
</dict>
</plist>